body{
}
/*总体*/
.pane, .view{
    background: url(img/bg.png) ;
}
.bar.bar-positive{
    background: none;
}
.bar.bar-positive{
    background: rgba(256,256,256,.3);
}
.bar.bar-positive .title{
    width:auto;
    color: #e5a43e;
    background: url(img/title.png) no-repeat right 8px;
    background-size: 24px;
}
.padding{
    padding: 0px;
}

/*通用按钮    */
.onefun-button{
    background-color: #6fc4c7;
    color: #ffffff;
    border:none;
    border-radius: 40px;
}
.onefun-button-useless{
    background-color: #a0a0a0;
    color: #ffffff;
    border:none;
    border-radius: 40px;
}

/*返回按钮*/
.nav-title-slide-ios7:not(.no-animation) .button.back-button{
    color:#e5a43e;
}

/*导航*/
.tabs-positive .tabs{
    background: rgba(254,255,213,.5);
    padding: 0px;
}
.tabs-positive .tabs .tab-title{
    color: #333335;
}
.tab-item.tab-item-active{
    background: #ffcc33;
}
.tab-item.icon{
    color: #e5a43e
}
.tabs-positive .tabs .icon{
    color: #e5a43e;
}
.tab-item.tab-item-active .icon{
    color: #ffffff;
}

.home_button .button{
    background-color: #6fc4c7;
    color: #ffffff;
    border:none;
    border-radius: 40px;
}


.home_getnum .home_logo{
    text-align: center;
    padding:50px 0px;
}
.home_getnum .home_logo .logo{
    height:64px;
    width:64px;
}
.home_getnum .home_content_item{
    display: block;
    padding:10px 0px;
    text-align: center;
    color: #666666;
}
.home_getnum .home_button{
    padding:0 10px;
}
.home_getnum .home_button .button{
    min-width: 120px;
}



.home_getlocal .home_shoplogo{
    text-align: center;
    padding:20px 0px;
}
.home_getlocal .home_shoplogo .logo{
    height:128px;
    width:128px;
    border-radius: 64px;
    box-shadow: inset 3px 3px 3px #666666;
}
.home_getlocal .home_local .icon{
    font-size: 36px;
    color:#ffcc32;
}
.home_getlocal .home_local .home_local_info{
    position: relative;
    top:-6px;
    line-height: 30px;
    font-size: 16px;
    color: #de381e;
}
.home_getlocal .home_content_item{
    display: block;
    text-align: center;
    color: #666666;
}
.home_getlocal .home_button{
    padding:0 10px;
    margin-top:40px;
    font-weight: bold;
}
.home_getlocal .home_button .button{
    min-width: 120px;
}
.home_getlocal .home_numinfo{
    padding:0 10px;
    text-align: left;
}
.home_getlocal .home_numinfo_dl{
    border:1px solid #efefef;
}
.home_getlocal .home_numinfo .home_numinfo_dd{
    border-top:1px solid #efefef;
    padding:10px;
    padding-left: 40px;
}
.home_getlocal .home_numinfo .home_numinfo_dd_together{
    position:relative;
}
.home_getlocal .home_numinfo .home_numinfo_dd_together .toggle{
    position: absolute;
    top:-2px;
    right:0px;
    margin:0px;
}
.home_getlocal .home_numinfo .button{
    width:150px;
}
.home_getlocal .home_numinfo .home_numinfo_dt{
    padding:10px;
}
.home_getlocal .home_numinfo .home_numinfo_dt b{
    line-height: 24px;
    font-size: 24px;
}
.home_getlocal .home_numinfo .home_numinfo_dt .home_numinfo_text b{
    position: relative;
    top:4px;
}
.home_getlocal .home_numinfo .home_numinfo_dt .home_numinfo_text {
    position: relative;
    top:-3px;
}
.home_getlocal .home_numinfo .home_numinfo_dt .icon{
    font-size: 24px;
    margin-right: 5px;
    color:#4a87ee;
}


.home_getinfo{

}
.home_getinfo .item-choice{
    position: relative;
    padding:0px;
}
.home_getinfo .item-choice-label{
    display: inline-block;
    color: #999999;
    font-size: 14px;
    line-height: 45px;
    padding-left: 10px;
}
.home_getinfo .item-choice-toggle{
    position: absolute;
    margin:0px;
    right:0px;
}
.home_getinfo .tip{
    padding:0 10px;
}
.home_getinfo .tip .icon{
    font-size: 16px;
}
.home_getinfo .tip .tip_warn_text{
    color:#ef4e3a;
    line-height: 24px;
}
.home_getinfo .tip .tip_show_text{
    color:#4a87ee;
    line-height: 24px;
}
.home_getinfo .tip .tip_show_textarea{
    resize:none;
    padding: 10px;
    border:1px solid #f7f7f7;
    border-radius: 3px;
}

.tplist .tplist_title{
    position: relative;
    padding:0 10px;
    background: #ffffff;
    margin: 0px;
    color: #4684f1;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #efefef;
}
.tplist .tplist_title .title_text{

}
.tplist .tplist_title .icon{
    margin-right: 5px;
}
.tplist .tplist_title .button{
    position: absolute;
    width:100px;
    right:10px;
    top:5px;
}

.tplist .tplist_ul .tplist_list_first{
    background-color: #f7f7f7;
}
.tplist .tplist_ul .tplist_list{
    padding:10px;
    border-bottom: 1px solid #efefef;
}
.tplist .tplist_ul .tplist_list .tp_num{
    display: block;
    float:left;
}
.tplist .tplist_ul .tplist_list .tp_content{
    display: block;
    float:right;
    width:80%;
    min-width: 300px;
}
.tplist .tplist_ul .tplist_list .tp_content_c{
    float:left;
    margin-bottom: 10px;
}
.tplist .tplist_ul .tplist_list .tp_content_r{
    float:right;
}
.tplist .tplist_ul .tplist_list .tp_content_r .button{
    width:100px;
}
.tplist .tplist_ul .tplist_list .tp_content_c .title{
    font-size: 14px;
    margin-bottom: 5px;
}
.tplist .tplist_ul .tplist_list .tp_content_c .title .title_button{
    display: inline-block;
    padding:4px;
    border:1px solid #145fd7;
    color: #6a87ee;
    border-radius: 3px;
    margin: 0 10px;
}
.tplist .tplist_ul .tplist_list .tp_content_c .info{
    display: block;
    color:#999999;
}
.tplist .tplist_ul .tplist_list .tp_content_b{
    clear:both;
    border:1px solid #f7f7f7;
    border-radius: 3px;
    padding:5px;
    color: #666666;
}
.tplist .tplist_ul .tplist_list_first .tp_content_b{
    border-color: #efefef;
    background-color: #ffffff;
}


.chat-status{
  width: 100%;
}
.chat-input input{
  display: inline-block;
  width: 80%;
}

/*聊天页*/
.discussion{
    background: none;
}
/*顶部信息*/
.chat-status{
    border-bottom: 1px solid #cde4dc;
}
.chat-status td{
    padding:5px 10px;
}
.chat-status .user{
    color: #e4a53e;
}
.chat-status .status {
    text-align: right;
}
.chat-status .status button{
    width:60px;
}
/*输入信息*/
.chat-input{
    background: #ffcc33;
    padding:10px;
}
.chat-input .text{
    background: #feffd5;
    padding-left: 15px;
    border-radius: 40px;
}
.chat-input .send{
    border:none;
    background: none;
    height:40px;
}





.setting .setting_ul .setting_list_first{
    background-color: #f7f7f7;
}
.setting .setting_ul .setting_list{
    padding:10px;
    border-bottom: 1px solid #efefef;
}
.setting .setting_ul .setting_list .tp_num{
    display: block;
    float:left;
}
.setting .setting_ul .setting_list .tp_num em{
    position: relative;
    top:15px;
    display: inline-block;
    height:18px;
    min-width: 18px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border:1px solid #cc2311;
    background-color: #ef4e3a;
    border-radius: 40px;
}
.setting .setting_ul .setting_list .tp_content{
    display: block;
    float:right;
    width:80%;
    min-width: 240px;
}
.setting .setting_ul .setting_list .tp_content_c{
    float:left;
    margin-bottom: 10px;
}
.setting .setting_ul .setting_list .tp_content_r{
    float:right;
}
.setting .setting_ul .setting_list .tp_content_r .button{
    width:100px;
}
.setting .setting_ul .setting_list .tp_content_c .title{
    font-size: 14px;
    margin-bottom: 5px;
}
.setting .setting_ul .setting_list .tp_content_c .title .title_button{
    display: inline-block;
    padding:4px;
    border:1px solid #145fd7;
    color: #6a87ee;
    border-radius: 3px;
    margin: 0 10px;
}
.setting .setting_ul .setting_list .tp_content_c .info{
    display: block;
    color:#999999;
}
.setting .setting_ul .setting_list .tp_content_c .icon {
    margin-right: 3px;
}
.setting .setting_ul .setting_list .tp_content_b{
    clear:both;
    border:1px solid #f7f7f7;
    border-radius: 3px;
    padding:5px;
    color: #666666;
}
.setting .setting_ul .setting_list_first .tp_content_b{
    border-color: #efefef;
    background-color: #ffffff;
}