body{
}
/*总体*/
.pane, .view{
    background: url(img/bg.png) ;
}
.bar.bar-positive{
    background: none;
}
.bar.bar-positive{
    background: rgba(256,256,256,.3);
}
.bar.bar-positive .title{
    width:auto;
    color: #e5a43e;
    background: url(img/title.png) no-repeat right 8px;
    background-size: 24px;
}
.padding{
    padding: 0px;
}

/*通用按钮    */
.button-small{
    min-height: 24px;
    height: 24px;
    line-height: 24px;
}
.onefun-button,
.popup-buttons .button{
    display: inline-block;
    text-decoration: none;
    background-color: #6fc4c7;
    color: #ffffff;
    border:none;
    border-radius: 40px;
}
.onefun-button:hover,
.popup-buttons .button:hover{
    background-color: #6fc4c7;
    color: #ffffff;
}
.onefun-button:active,
.popup-buttons .button:active{
    background-color: #6fc4c7;
    color: #ffffff;
}
.onefun-button-useless{
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    background-color: #a0a0a0;
    color: #ffffff;
    border:none;
    border-radius: 40px;
}
.onefun-button-useless:hover{
    background-color: #a0a0a0;
    color: #ffffff;
}
.onefun-button-red{
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    background-color: #e97462;
    color: #ffffff;
    border:none;
    border-radius: 40px;
}
.onefun-button-red:hover{
    background-color: #e97462;
    color: #ffffff;
}
.onefun-button-green{
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    background-color: #bccb76;
    color: #ffffff;
    border:none;
    border-radius: 40px;
}
.onefun-button-green:hover{
    background-color: #bccb76;
    color: #ffffff;
}
.onefun-button-yellow{
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    background-color: #ffcc33;
    color: #ffffff;
    border:none;
    border-radius: 40px;
}
.onefun-button-yellow:hover{
    background-color: #ffcc33;
    color: #ffffff;
}
.onefun-button:active,.popup-buttons .button:active,.onefun-button-useless:active,.onefun-button-red:active,.onefun-button-green:active,.onefun-button-yellow:active{
    box-shadow: inset 3px 3px 3px rgba(0,0,0,.3);
}

/*返回按钮*/
.nav-title-slide-ios7:not(.no-animation) .button.back-button{
    color:#e5a43e;
}

/*导航*/
.tabs-positive .tabs{
    background: rgba(254,255,213,.5);
    padding: 0px;
}
.tabs-positive .tabs .tab-title{
    color: #333335;
}
.tab-item.tab-item-active{
    background: #ffcc33;
}
.tab-item.icon{
    color: #e5a43e
}
.tabs-positive .tabs .icon{
    color: #e5a43e;
}
.tab-item.tab-item-active .icon{
    color: #ffffff;
}

.home_button .button{
    background-color: #6fc4c7;
    color: #ffffff;
    border:none;
    border-radius: 40px;
}


.home_getnum .home_logo{
    text-align: center;
    padding:50px 0px;
}
.home_getnum .home_logo .logo{
    height:108px;
    width:108px;
}
.home_getnum .home_content_item{
    display: block;
    padding:10px 0px;
    text-align: center;
    color: #666666;
}
.home_getnum .home_button{
    padding:0 10px;
}
.home_getnum .home_button .button{
    min-width: 120px;
}



.home_getlocal .home_shoplogo{
    text-align: center;
    padding:20px 0px;
}
.home_getlocal .home_shoplogo .logo{
    height:128px;
    width:128px;
    border-radius: 64px;
    box-shadow: inset 3px 3px 3px #666666;
}
.home_getlocal .home_local .icon{
    font-size: 36px;
    color:#ffcc32;
}
.home_getlocal .home_local .home_local_info{
    position: relative;
    top:-6px;
    line-height: 30px;
    font-size: 16px;
    color: #de381e;
}
.home_getlocal .home_content_item{
    display: block;
    text-align: center;
    color: #666666;
}
.home_getlocal .home_button{
    padding:0 10px;
    margin-top:40px;
    font-weight: bold;
}
.home_getlocal .home_button .button{
    min-width: 120px;
}
.home_getlocal .home_numinfo{
    padding:0 10px;
    text-align: left;
}
.home_getlocal .home_numinfo_dl{
    border:1px solid #efefef;
}
.home_getlocal .home_numinfo .home_numinfo_dd{
    border-top:1px solid #efefef;
    margin-bottom:5px; 
    padding:10px;
    padding-left: 20px;
}
.home_getlocal .home_numinfo .home_numinfo_dd_together{
    position:relative;
}
.home_getlocal .home_numinfo .home_numinfo_dd_together .toggle{
    position: absolute;
    top:-2px;
    right:0px;
    margin:0px;
}
.home_getlocal .home_numinfo .button{
    width:150px;
}
.home_getlocal .home_numinfo .home_numinfo_dt{
    position: relative;
    margin-bottom: 5px;
    padding:10px;
    padding-left: 20px;
}
.home_getlocal .home_numinfo .home_numinfo_dt button{
    position: absolute;
    right: 10px;
    top:10px;
    width: 80px;
}
.home_getlocal .home_numinfo .home_numinfo_dt b{
    line-height: 24px;
    font-size: 24px;
    color: #fdff97;
}
.home_getlocal .home_numinfo .home_numinfo_dt .home_numinfo_text b{
}
.home_getlocal .home_numinfo .home_numinfo_dt .home_numinfo_text {
    font-weight: normal;
}
.home_getlocal .home_numinfo .home_numinfo_dt .icon{
    font-size: 24px;
    margin-right: 5px;
    color:#4a87ee;
}
.home_getlocal .home_numinfo .home_numinfo_dd_intro{
    background: #ffffff;
    color:#e5a84f;
}

.home_getinfo{

}
.home_getinfo .item-choice{
    position: relative;
    padding:0px;
}
.home_getinfo .item-choice-label{
    display: inline-block;
    color: #999999;
    font-size: 14px;
    line-height: 45px;
    padding-left: 10px;
}
.home_getinfo .item-choice-toggle{
    position: absolute;
    margin:0px;
    right:0px;
}
.home_getinfo .tip{
    padding:0 10px;
}
.home_getinfo .tip .icon{
    font-size: 16px;
}
.home_getinfo .tip .tip_warn_text{
    color:#ef4e3a;
    line-height: 24px;
}
.home_getinfo .tip .tip_show_text{
    color:#e5a84f;
    line-height: 24px;
}
.home_getinfo .tip .tip_show_textarea{
    resize:none;
    padding: 10px;
    border:1px solid #f7f7f7;
    border-radius: 3px;
}

.tplist .tplist_title{
    position: relative;
    padding:0 10px;
    margin: 0px;
    color: #999999;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #cbe4de;
}
.tplist .tplist_title .title_text{

}
.tplist .tplist_title .icon{
    margin-right: 5px;
}
.tplist .tplist_title .button{
    position: absolute;
    width:100px;
    right:10px;
    top:10px;
    padding:0 10px;
}

.tplist .tplist_ul .tplist_list{
    padding:10px;
    border-bottom: 1px solid #cde4de;
}
.tplist .tplist_ul .tplist_list .tp_num{
    display: block;
    float:left;
}
.tplist .tplist_ul .tplist_list .tp_num_info,
.tplist .tplist_ul .tplist_list .tp_num_code{
    display: block;
}
.tplist .tplist_ul .tplist_list .tp_num_code{
    color: #666666;
}
.tplist .tplist_ul .tplist_list .tp_content{
    display: block;
    float:right;
    width:80%;
    min-width: 240px;
}
.tplist .tplist_ul .tplist_list .tp_content_c{
    float:left;
    margin-bottom: 10px;
    max-width: 60%;
}
.tplist .tplist_ul .tplist_list .tp_content_r{
    float:right;
    width: 80px;
}
.tplist .tplist_ul .tplist_list .tp_content_r .button{
    width:80px;
    margin-bottom: 5px;
}
.tplist .tplist_ul .tplist_list .tp_content_c .title{
    color: #666666;
    font-size: 14px;
    margin-bottom: 5px;
}
.tplist .tplist_ul .tplist_list .tp_content_c .title .button{
    padding:0 10px;
}
.tplist .tplist_ul .tplist_list .tp_content_c .title .title_button{
    display: inline-block;
    padding:4px;
    border:1px solid #145fd7;
    color: #6a87ee;
    border-radius: 3px;
    margin: 0 10px;
}
.tplist .tplist_ul .tplist_list .tp_content_c .info{
    display: block;
    color:#999999;
}
.tplist .tplist_ul .tplist_list .tp_content_c .intro{
    display: block;
    color:#e5a84f;
}
.tplist .tplist_ul .tplist_list .tp_content_c .detail{
    display: block;
    color:#999999;
}
.tplist .tplist_ul .tplist_list .tp_content_b{
    clear:both;
    color: #e5a84f;
}
.tplist .tplist_ul .tplist_list_first{
    background: #6fc4c7;
}
.tplist .tplist_ul .tplist_list_first .tp_num{
    color:#ffffff;
}
.tplist .tplist_ul .tplist_list_first .tp_num_code{
    color:#efefef;
}
.tplist .tplist_ul .tplist_list_first .tp_content_c .title{
    color: #ffffff
}
.tplist .tplist_ul .tplist_list_first .tp_content_c .info{
    color: #ffffff
}
.tplist .tplist_ul .tplist_list_first .tp_content_b{
    color: #feffd5
}



/*信息提交页 order_submit*/
.order_submit .list-inset{
    background: none;
    margin-bottom: 5px;
}
.order_submit  .list-inset .item{
    border:none;
    background: #6fc4c8;
    border-radius:40px;
    margin-bottom: 10px;
    padding:5px 15px;
    color: #ffffff;
}
.order_submit  .list-inset .item input::-webkit-input-placeholder {
    color: #ffffff;
}
.order_submit  .list-inset .item input{
    color: #ffffff;
}
.order_submit  .list-inset .item:first-child{
    border-top-left-radius:40px;
    border-top-right-radius:40px;
}
.order_submit  .list-inset .item-toggle{
    line-height: 36px;
}
.order_submit  .list-inset .track{
    border:3px solid #ffffff;
}
.order_info .toggle input:checked+.track,
.order_submit .toggle input:checked+.track{
    border-color: #ffffff;
    background-color: #ffcc33;
}
.order_info  .toggle .handle,
.order_submit  .toggle .handle{
    background: #feffd5;
}
.order_info  .toggle input:checked+.track .handle,
.order_submit  .toggle input:checked+.track .handle{
    background: #feffd5;
}
.order_submit .padding{
    text-align: center;
}
.order_submit .padding .button{
    width:120px;
    margin: 0 auto;
}
.order_submit .tip{
}
.order_submit .tip .tip_warn{
    text-align: left;
}
.order_submit .tip_show {
    margin-bottom: 20px;
}
.order_submit .tip_show .tip_show_textarea{
    border-radius: 20px;
}

/*订单信息页 order_info*/
.order_info{

}
.order_info .home_numinfo_dt,
.order_info .home_numinfo_dd{
    border-radius: 20px;
    background: #6fc4c8;
}

/*预约成功页 argue_finish*/
.argue_finish{

}
.argue_finish .home_finishlogo{
    width:108px;
    height: 108px;
    margin: 20px auto;
    background: url(img/finish_bg.png) 0px 0px;
    background-size: 108px 108px;

    font-size: 20px;
    color: #df391f;
    line-height: 108px;
    text-align: center;
}
.argue_finish .home_finishcontent{
    padding:20px;
}
.argue_finish .home_finishcontent .content_num{
    font-size: 16px;
    color: #333333;
}
.argue_finish .home_finishcontent .content_num b{
    font-size: 24px;
    color:#de381e;
}
.argue_finish .home_finishcontent .content_detail{
    font-size: 16px;
    color: #333333;
}
.argue_finish .home_finishcontent .content_ul{
    font-size: 16px;
    color: #666666;
}
.argue_finish .home_finishcontent .content_ul b{
    font-size: 16px;
    color: #6ec3c6;
}
.argue_finish .home_finishcontent .content_tip{
    display: block;
    margin-top: 20px;
    color: #e5a43e;
}
/*聊天页 argue_detail*/
.argue_detail{
    background: none;
}
/*顶部信息*/
.argue_detail .chat-status{
    border-bottom: 1px solid #cde4dc;
}
.argue_detail .chat-status td{
    padding:5px 10px;
}
.argue_detail .chat-status .user{
    color: #e4a53e;
}
.argue_detail .chat-status .status {
    text-align: right;
}
.argue_detail .chat-status .status button{
    width:80px;
}
/*消息列表*/
.argue_detail .discussion{
    background: none;
}
.argue_detail .pane .scroll{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top:0px;
    bottom:0px;
}
.argue_detail .pane .has-tabs{
    bottom:0px;
}
.argue_detail .self .messages{
    max-width: 200px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    background: #becd7c;
    color: #333333;
    float:right;
}
.argue_detail .self .avatar{
    margin-left: 10px;
    float:right;
}
.argue_detail .self .avatar:after{
    border:8px solid #becd7c;
    top:10px;
    left:-10px;
    border-right:none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    box-shadow:none;
}
.argue_detail .other .messages{
    max-width: 200px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    background: #71c4c9;
    color: #333333;
    float: left;
}
.argue_detail .other .avatar{
    margin-right: 10px;
    float:left;
}
.argue_detail .other .avatar:after{
    border:8px solid #71c4c9;
    top:10px;
    right:-10px;
    border-left:none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    box-shadow:none;
}
/*输入信息*/

.argue_detail .chat-input{
    position: fixed;
    background: #ffcc33;
    padding:10px;
    width: 100%;
    bottom: 0px;
}
.argue_detail .chat-input .text{
    background: #feffd5;
    padding-left: 15px;
    border-radius: 40px;
}
.argue_detail .chat-input .send{
    border:none;
    background: none;
    height:40px;
}
.argue_detail .chat-status{
  width: 100%;
}
.argue_detail .chat-input input{
  display: inline-block;
  width: 80%;
}




.setting .setting_ul .setting_list_first{
    background-color: #f7f7f7;
}
.setting .setting_ul .setting_list{
    padding:10px;
    border-bottom: 1px solid #cde4de;
}
.setting .setting_ul .setting_list .tp_num{
    display: block;
    float:left;
}
.setting .setting_ul .setting_list .tp_num em{
    position: relative;
    top:15px;
    display: inline-block;
    height:18px;
    min-width: 18px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border:1px solid #cc2311;
    background-color: #ef4e3a;
    border-radius: 40px;
}
.setting .setting_ul .setting_list .tp_content{
    display: block;
    float:right;
    width:100%;
    min-width: 240px;
}
.setting .setting_ul .setting_list .tp_content_c{
    float:left;
    margin-bottom: 10px;
}
.setting .setting_ul .setting_list .tp_content_r{
    float:right;
}
.setting .setting_ul .setting_list .tp_content_r .time{
    color: #999999;
}
.setting .setting_ul .setting_list .tp_content_r .button{
    width:100px;
}
.setting .setting_ul .setting_list .tp_content_c .title{
    font-size: 14px;
    margin-bottom: 5px;
}
.setting .setting_ul .setting_list .tp_content_c .title .title_button{
    display: inline-block;
    padding:4px;
    border:1px solid #145fd7;
    color: #6a87ee;
    border-radius: 3px;
    margin: 0 10px;
}
.setting .setting_ul .setting_list .tp_content_c .info{
    display: block;
    color:#e5a440;
}
.setting .setting_ul .setting_list .tp_content_c .icon {
    margin-right: 3px;
}
.setting .setting_ul .setting_list .tp_content_b{
    clear:both;
    border:1px solid #f7f7f7;
    border-radius: 3px;
    padding:5px;
    color: #e7a33e;
}
.setting .setting_ul .setting_list_first .tp_content_b{
    border-color: #efefef;
    background-color: #ffffff;
}
.setting .setting_ul .setting_list_none{
    text-align: center;
    padding:40px;
}
.setting .setting_ul .setting_list_none .none{
    font-size: 14px;
    color: #999999;
}

/*管理员页面 manage_list*/
.manage_list .tplist .tplist_ul .tplist_list .tp_content_c{
    max-width: none;
}
.manage_list .tplist_nav_ul li{
    float:left;
    margin: 5px;
}
.manage_list .tplist_nav_ul .button{
    height:30px;
    line-height: 30px;
    min-height: 30px;
    font-size: 14px;
}