.home_getnum .home_logo{
	text-align: center;
	padding:50px 0px;
}
.home_getnum .home_logo .logo{
	height:64px;
	width:64px;
}
.home_getnum .home_content_item{
	display: block;
	padding:10px 0px;
	text-align: center;
	color: #666666;
}
.home_getnum .home_button{
	padding:0 10px;
}



.home_getlocal .home_shoplogo{
	text-align: center;
	padding:50px 0px;
}
.home_getlocal .home_shoplogo .logo{
	height:64px;
	width:64px;
}
.home_getlocal .home_local .icon{
	font-size: 30px;
}
.home_getlocal .home_local .home_local_info{
	position: relative;
	top:-6px;
	line-height: 30px;
}
.home_getlocal .home_content_item{
	display: block;
	padding:10px 0px;
	text-align: center;
	color: #666666;
}
.home_getlocal .home_button{
	padding:0 10px;
}
.home_getlocal .home_numinfo{
	padding:0 10px;
	text-align: left;
}
.home_getlocal .home_numinfo_dl{
	border:1px solid #efefef;
}
.home_getlocal .home_numinfo .home_numinfo_dd{
	border-top:1px solid #efefef;
	padding:10px;
	padding-left: 40px;
}
.home_getlocal .home_numinfo .home_numinfo_dd_together{
	position:relative;
}
.home_getlocal .home_numinfo .home_numinfo_dd_together .toggle{
	position: absolute;
	top:-2px;
	right:0px;
	margin:0px;
}
.home_getlocal .home_numinfo .button{
	width:150px;
}
.home_getlocal .home_numinfo .home_numinfo_dt{
	padding:10px;
}
.home_getlocal .home_numinfo .home_numinfo_dt b{
	line-height: 24px;
	font-size: 24px;
}
.home_getlocal .home_numinfo .home_numinfo_dt .home_numinfo_text b{
	position: relative;
	top:4px;
}
.home_getlocal .home_numinfo .home_numinfo_dt .home_numinfo_text {
	position: relative;
	top:-3px;
}
.home_getlocal .home_numinfo .home_numinfo_dt .icon{
	font-size: 24px;
	margin-right: 5px;
	color:#4a87ee;
}


.home_getinfo{

}
.home_getinfo .item-choice{
	position: relative;
	padding:0px;
}
.home_getinfo .item-choice-label{
	display: inline-block;
	color: #999999;
	font-size: 14px;
	line-height: 45px;
	padding-left: 10px;
}
.home_getinfo .item-choice-toggle{
	position: absolute;
	margin:0px;
	right:0px;
}
.home_getinfo .tip{
	padding:0 10px;
}
.home_getinfo .tip .icon{
	font-size: 16px;
}
.home_getinfo .tip .tip_warn_text{
	color:#ef4e3a;
	line-height: 24px;
}
.home_getinfo .tip .tip_show_text{
	color:#4a87ee;
	line-height: 24px;
}
.home_getinfo .tip .tip_show_textarea{
	resize:none;
	padding: 10px;
	border:1px solid #f7f7f7;
	border-radius: 3px;
}