<ion-view title="聊天" ng-controller="argueDetailCtrl" class="argue_detail">
  <ion-content class="chatpanel padding">
    <table class="chat-status">
      <tr>
         <td class="user">
          对方：{{_arguePeople.nickName}} 共 {{_arguePeople.customerNum}} 人
        </td>
         <td class="status">
          <button
            ng-class="{'onefun-button-useless': !agree.other,
             'onefun-button': argree.other}">{{agree.other?'已同意':'未同意'}}</button>
        </td>
      </tr>
      <tr>
         <td class="user">我：</td>
         <td class="status">
           <button ng-class="{'onefun-button-useless': !agree.self,
             'onefun-button': argree.self}"
            ng-disabled="agree.self"
            ng-click="agreeTojoin()">
            {{agree.self?'已同意':'未同意'}}
          </button>
         </td>
      </tr>
    </table>

    <ol class="discussion chat-list">
      <li
        ng-repeat="i in msgList track by $index"
        ng-class="getMsgClass(i)">
        <div class="avatar">
          <div random-avatar></div>
        </div>
        <div class="messages">
          <p>{{i.msg}}</p>
        </div>
      </li>
    </ol>
    <div class="chat-input">
      <input type="text" placeholder="输入内容"
        ng-model="chatText" class="text" ng-keydown="keydownHandler($event)">
      <button class="send" ng-click="postMsg()">发送</button>
    </div>
  </ion-content>
</ion-nav-view>