<ion-view title="聊天" ng-controller="argueDetailCtrl">
  <ion-content class="chatpanel padding">
    <table class="chat-status">
      <tr>
         <td class="user">对方：张先生 共 三人</td>
         <td class="status"><button class="onefun-button-useless">已同意</button></td>
      </tr>
      <tr>
         <td class="user">我：</td>
         <td class="status">
           <button class="onefun-button">同意</button>
         </td>
      </tr>
    </table>

    <ol class="discussion chat-list">
      <li ng-repeat="i in msgList"
        ng-class="getMsgClass(i)">
        <div class="avatar">
          <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/5/profile/profile-80_9.jpg" />
        </div>
        <div class="messages">
          <p>{{i.msg}}</p>
        </div>
      </li>
      <li class="self clearfix">
        <div class="avatar">
          <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/3/profile/profile-80_20.jpg" />
        </div>
        <div class="messages">
          <p>That makes sense.</p>
          <p>It's a pretty small airport.</p>
        </div>
      </li>
      <li class="other clearfix">
        <div class="avatar">
          <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/5/profile/profile-80_9.jpg" />
        </div>
        <div class="messages">
          <p>that mongodb thing looks good, huh?</p>
          <p>
            tiny master db, and huge document store</p>
        </div>
      </li>
    </ol>
    <div class="chat-input">
      <input type="text" placeholder="输入内容" ng-model="chatText" class="text">
      <button class="send" ng-click="postMsg()">发送</button>
    </div>
  </ion-content>
</ion-nav-view>