      <ion-view title="聊天" ng-controller="argueDetailCtrl">
        <ion-content class="padding">
          <table class="chat-status">
            <tr>
               <td>对方：张先生 共 三人</td>
               <td>已同意</td>
            </tr>
            <tr>
               <td>我：</td>
               <td>等待同意：</td>
               <td>
                 <button class="button button-light">同意</button>
               </td>
            </tr>
          </table>
          <ol class="discussion chat-list">
            <li class="other">
              <div class="avatar">
                <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/5/profile/profile-80_9.jpg" />
              </div>
              <div class="messages">
                <p>yeah, they do early flights cause they connect with big airports.  they wanna get u to your connection</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </li>
            <li class="self">
              <div class="avatar">
                <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/3/profile/profile-80_20.jpg" />
              </div>
              <div class="messages">
                <p>That makes sense.</p>
                <p>It's a pretty small airport.</p>
                <time datetime="2009-11-13T20:14">37 mins</time>
              </div>
            </li>
            <li class="other">
              <div class="avatar">
                <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/5/profile/profile-80_9.jpg" />
              </div>
              <div class="messages">
                <p>that mongodb thing looks good, huh?</p>
                <p>
                  tiny master db, and huge document store</p>
              </div>
            </li>
          </ol>
          <div class="chat-input">
            <input type="text" placeholder="输入内容" ng-model="chatText">
            <button class="button button-light" ng-click="postMsg()">发送</button>
          </div>
        </ion-content>
      </ion-nav-view>