<ion-view title="预约成功" class="argue_finish">
  <ion-content class="padding home_finish">
    <h1 class="home_finishlogo">
      拼桌成功！
    </h1>
    <div class="home_finishcontent">
      <h2 class="content_num">您的排队号调整为：<b>{{_mergeOrderInfo.preOrderNum}}</b></h2>
      <div class="content_detail">
        <h3 class="content_detail">对方信息：</h3>
        <ul class="content_ul">
          <li><span>昵称：<b>{{_mergeOrderInfo.other.nickName}}</b></span></li>
          <li><span>手机：<b>
            <!-- trigger a real phone call -->
            <a href="tel:{{i.phoneNum}}">{{_mergeOrderInfo.other.phoneNum}}</a>
          </b></span></li>
        </ul>
        <span class="content_tip">请尽快与对方取得联系哦~</span>
        <a class="button button-small onefun-button-yellow"
          ui-sref="tabs.argue">回到首页</a>
      </div>
    </div>
  </ion-content>
</ion-nav-view>