<ion-view title="可拼" ng-controller="argueListCtrl">
  <ion-content class="padding tablepooling tplist">
    <h2 class="tplist_title">
      <span class="title_text"><i class="icon ion-person-stalker"></i>您可以发起拼桌</span>
      <button class="button button-small button-outline button-positive">我发起的拼桌<i class="icon ion-ios7-arrow-right"></i></button>
    </h2>
    <ul class="tplist_ul">
      <li class="tplist_list tplist_list_first clearfix"
        ng-repeat="i in availableList|filter: {deviceId: _deviceId}">
        <span class="tp_num">{{i.tableCapacity}}缺
          <b>{{i|inferLeftCount}}</b></span>
        <div class="tp_content clearfix">
          <div class="tp_content_c">
            <h3 class="title">
              {{i.nickName}} 共{{i.customerNum}}人
              <a class="title_button">我的拼桌</a>
            </h3>
            <span class="info"><i class="icon ion-quote"></i>
              可拼{{i.tableCapacity}}人桌，
              {{i|inferLeftStr}}</span>
          </div>
          <div class="tp_content_r">
            <button class="button button-positive"
              ng-click="goSelfSetting()">设置</button>
          </div>
          <div class="tp_content_b">
            {{i.introText||'还没设置....'}}
          </div>
        </div>
      </li>

      <li class="tplist_list clearfix"
        ng-repeat="i in availableList|filter: {deviceId: '!'+_deviceId}">
        <span class="tp_num">{{i.tableCapacity}}缺
          <b>{{i|inferLeftCount}}</b></span>
        <div class="tp_content clearfix">
          <div class="tp_content_c">
            <h3 class="title">
              {{i.nickName}} 共{{i.customerNum}}人</h3>
            <span class="info">
              <i class="icon ion-quote"></i>
              可拼{{i.customerNum}}人桌，
              {{i|inferLeftStr}}</span>
          </div>
          <div class="tp_content_r">
            <button class="button button-positive"
              ng-click="goArgueDetail(i)">联系一下</button>
          </div>
          <div class="tp_content_b">
            {{i.introText}}
          </div>
        </div>
      </li>

    </ul>
  </ion-content>
</ion-nav-view>