<ion-view title="管理界面" ng-controller="manageListCtrl" class="manage_list">
  <ion-content class="padding tablepooling tplist">
    <nav class="tplist_nav">
      <h3 class="tplist_nav_title"></h3>
      <ul class="tplist_nav_ul clearfix">
        <li><button class="button onefun-button-green">所有</button></li>
        <li><button class="button onefun-button-green">2人桌</button></li>
        <li><button class="button onefun-button">4人桌</button></li>
        <li><button class="button onefun-button-green">6人桌</button></li>
        <li><button class="button onefun-button-green">8人桌</button></li>
      </ul>
    </nav>
    <ul class="tplist_ul">
      <li class="tplist_list clearfix"
        ng-repeat="i in [1,2,3]" ng-click="showActions(i)">
        <div class="tp_num">
          <span class="tp_num_ordercode">{{i.preOrderNum}}</span>
        </div>
        <div class="tp_content clearfix">
          <div class="tp_content_c">
            <h3 class="title">
              {{i.nickName}} 共<b>{{i.customerNum}}</b>人
              <em>{{i.updateTime|timeage}}</em>
            </h3>
            <span class="info">手机号：{{i.phoneNum}}</span>
            <span class="intro">{{i.introText}}</span>
            <!-- <span class="detail"><b>拼桌对象：</b>原2010号 张女士 共两人 18888888888</span> -->
          </div>
        </div>
      </li>
    </ul>
  </icon-content>
</icon-view>