<ion-view title="One Fun 排队拼桌系统">
  <ion-content class="home_getnum padding">
    <h1 class="home_logo">
      <img class="logo" src="logo.png" />
    </h1>
    <div class="home_content">
      <span class="home_content_item home_local"><i class="icon ion-loading-a"></i>正在定位</span>
      <span class="home_content_item home_status">您还未取号</span>
      <span class="home_content_item home_button">
        <button class="button onefun-button-useless">取号</button>
      </span>
    </div>
  </ion-content>
</ion-view>