<ion-view title="{{resturantInfo.name}}排队系统">
  <ion-content class="padding home_getlocal">
    <h1 class="home_shoplogo">
      <img class="logo" ng-src="{{resturantInfo.img|hostImg}}" />
    </h1>
    <div class="home_content">
      <span class="home_content_item home_local">
          <i class="icon ion-location"></i>
          <b class="home_local_info">您现在的位置：{{resturantInfo.name}}</b>
      </span>
      <span class="home_content_item home_detail">现在共有<b>{{resturantInfo.preOrderCount}}</b>组，
        共计<b>{{resturantInfo.preOrderPeopleCount}}</b>人在排队</span>
      <span class="home_content_item home_status">您还未取号…</span>
      <span class="home_content_item home_button">
        <a class="button button-block button-positive"
          ui-sref="tabs.order-form">取号</a>
      </span>
    </div>
  </ion-content>
</ion-nav-view>