<ion-view title="我的消息">
  <ion-content class="padding setting">
    <ul class="setting_ul">
      <li class="setting_list clearfix">
        <!-- <span class="tp_num"><em class="msg">2</em></span> -->
        <div class="tp_content clearfix">
          <div class="tp_content_c">
            <h3 class="title">张女士 共2人</h3>
            <span class="info"><i class="icon ion-quote"></i>可拼4人桌，可接受1-2人</span>
          </div>
          <div class="tp_content_r">
            <span class="time">18:09:18</span>
          </div>
        </div>
      </li>
      <li class="setting_list clearfix">
        <!-- <span class="tp_num"><em class="msg">2</em></span> -->
        <div class="tp_content clearfix">
          <div class="tp_content_c">
            <h3 class="title">张女士 共2人</h3>
            <span class="info"><i class="icon ion-quote"></i>可拼4人桌，可接受1-2人</span>
          </div>
          <div class="tp_content_r">
            <span class="time">18:09:18</span>
          </div>
        </div>
      </li>
      <li class="setting_list clearfix">
        <!-- <span class="tp_num"><em class="msg">2</em></span> -->
        <div class="tp_content clearfix">
          <div class="tp_content_c">
            <h3 class="title">张女士 共2人</h3>
            <span class="info"><i class="icon ion-quote"></i>可拼4人桌，可接受1-2人</span>
          </div>
          <div class="tp_content_r">
            <span class="time">18:09:18</span>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>